<% provide :title, t("detail_user") %>
<section class = "content" id = "show_user">
  <div class = "row">
    <%= render "users/information" %>
    <div class = "col-md-9">
      <div class = "nav-tabs-custom">
        <ul class = "nav nav-tabs">
          <li class = "active">
            <a href = "#timeline" data-toggle = "tab">
              <%= t "time_line" %>
            </a>
          </li>
        </ul>
        <div class = "tab-content">
          <div class = "active tab-pane" id = "timeline">
            <% if @activities.any? %>
              <ol class = "timeline timeline-inverse">
                <li class = "time-label">
                <span class = "bg-red">
                  <%= Date.today %>
                </span>
              </li>
              </ol>
              <ol class = "timeline timeline-inverse" id = "activities">
                  <%= render @activities %>
              </ol>
              <div id = "pag">
                <%= will_paginate @activities %>
              </div>
            <% else %>
              <h1>You don't have any activity</h1>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

