<div class = "duplicatable_nested_form_show_question col-md-8 col-md-offset-2">
  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control content_show_question", required: true %>
  <%= f.label :is_correct, t("is_correct") %>
  <%=radio_button_tag "select_answer", "is_correct", f.object.is_correct,
    class: "select_answer_input" %>
  <%= f.hidden_field :is_correct, class: "is_correct_show_question" %>
  <%= f.hidden_field :_destroy , class: "value_detroy_show_question" %>
  <% if f.object.is_correct == true %>
    <%= link_to t("remove"), "javascript:void(0)", class: " btn btn-danger
      destroy_duplicate_nested_form_show-question", disabled: "true" %>
  <% else %>
    <%= link_to t("remove"), "javascript:void(0)", class: " btn btn-danger
      destroy_duplicate_nested_form_show-question" %>
  <% end %>
</div>
