<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-primary">
      <h1><%= t "custom_search" %></h1>
      <div class="box-body">
          <%= render "form_tags" %>
          <table class="table table-hover">
            <tr>
              <th><%= t "question" %></th>
              <th><%= t "mean" %></th>
              <th><%= t "learn" %></th>
            </tr> 
            <tbody id="body">
            </tbody>
            <div id="pag" class="text-center">
            </div>
          </table>
      </div>
    </div>
  </div>
</div>
