<% provide :title, t("details_category") %>
<div class="row box box-primary">
  <aside class = "col-md-3">
    <section class = "user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class = "micropost_form">
      <%= render "shared/category_form" %>
      <%= link_to t("down_pdf"), admin_category_download_path(
        @category, format: "pdf"), class: "download btn btn-info col-md-12" %>
    </section>
  </aside>
  <div class = "show_category col-md-9">
    <h1 ><%= link_to @category.name, [:admin, @category] %></h1>
    <div class = "row">
      <button type = "button" class = "btn-question btn btn-success
        btn-md col-md-2" data-toggle = "modal" data-target = "#myModal">
        <%= t "add_question" %></button>
      <%= form_tag [:admin, @category], remote: true, method: :get,
        id: "categories_search", class: "col-md-4 col-md-offset-6" do %>
        <%= text_field_tag :search, params[:search], class: "form-control",
        placeholder: t("search") %>
      <% end %>
      <% if @category.questions.any? %>
        <h2 class = "number-questions">
          <%= t "(" %>
          <%= pluralize @quantity, t("question") %>
          <%= t ")" %>
        </h2>
        <table class = "table table-striped table-bordered">
          <thead>
            <tr>
              <th><%= t "table_th_id" %></th>
              <th><%= t "table_th_name" %></th>
              <th><%= t "table_th_action" %></th>
            </tr>
          </thead>
          <tbody id = "questions">
            <%= render @questions %>
          </tbody>
        </table>
      <% else %>
        <p><%= t "alert_add_question" %></p>
      <% end %>
    </div>
    <div id = "pag" class = "row">
      <%= will_paginate @questions, class: "col-md-12" %>
    </div>
    <div class = "modal fade" id = "myModal" role = "dialog">
      <div class = "modal-dialog modal-lg">
        <div class = "modal-content">
          <div class = "validate-alert alert alert-info">
            <strong><%= t "alert_add_answer" %></strong>
          </div>
          <div class = "modal-header">
            <button type = "button" class = "close btn-cancel"
              data-dismiss = "modal">&times;</button>
            <h4 class = "modal-title"><%= t "modal_title_add_question" %></h4>
          </div>
          <div class = "modal-body">
            <%= form_for [:admin, @category.questions.build], remote: true do |f| %>
              <div class = "form-group">
                <%= f.hidden_field :category_id, value: @category.id %>
                <%= f.label :content %><br>
                <%= f.text_field :content, required: true %>
              </div>
              <h2 class = "number-answers"><%= t "number_answer" %></h2>
              <div id = "areaAnswer" class = "row"></div>
              <div class = "row">
                <%= f.submit t("submit"), class: " btn-add-question
                  btn btn-primary col-md-4 col-md-offset-4",
                  disabled: "disabled" %>
              </div>
            <% end %>
          </div>
          <div class = "modal-footer row ">
            <%= link_to t("button_add_answer"), "javascript:void(0)", class:
              "duplicate_nested_form btn btn-info col-md-4 col-md-offset-2" %>
            <button type = "button" class = "btn-cancel btn btn-default
              col-md-4" data-dismiss = "modal"><%= t "close" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
