<% provide :title, t("all_users") %>
<div class = "row index_users">
  <% if logged_in? && current_user.admin? %>
    <div class = "index_questions row">
      <aside class = "box box-primary col-md-4">
        <section class = "user_info">
          <%= render "shared/user_info" %>
        </section>
      </aside>
      <div class = "box box-primary col-md-12">
        <div class = "table-responsive">
          <h1><%= t "all_questions" %></h1>
          <div class = "row">
            <h4 class = "number-users col-md-6">
              <%= t "(" %>
              <%= pluralize @quantity_users, t("user") %>
              <%= t ")" %>
            </h4>
            <%= form_tag admin_users_path, remote: true, method: :get,
              id: "index_users_search", class: "col-md-4 col-md-offset-2" do %>
              <%= text_field_tag :search, params[:search],
                class: "form-control", placeholder: t("search") %>
            <% end %>
          </div>
          <table class = "table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t "table_th_id" %></th>
                <th><%= t "table_th_name" %></th>
                <th><%= t "table_th_email" %></th>
                <th><%= t "table_th_action" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
          </table>
          <div id = "pag" class = "row">
            <%= will_paginate @users, class: "col-md-8 col-md-offset-2" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
