<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "container">
    <%= link_to t("app_name"), "#", id: "logo" %>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to t("home"), user_path(current_user) %></li>
          <li><%= link_to t("search_word"), searches_path %></li>
          <li><%= link_to t("start_lesson"), categories_path %></li>
          <li><%= link_to t("follow"), "#" %></li>
          <% if current_user.admin? %>
            <%= render "layouts/admin" %>
          <% end %>
          <%= render "layouts/dropdown" %>
        <% else %>
          <li><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
